:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

h1, p {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #1a1a1a;
}

button:hover {
  background-color: #333;
}
